<h1>Listing Posts</h1>

<% @posts.each do |post| %>
        <h3><em><%= post.title %></em></h3>
        <p><%= post.body %></p>
        <% if signed_in? %>
            <h4>~<%= post.user.name %></h4><br>
        <% end %>
        -----------------------------<br>
<% end %>
